.mainDiv {

  background-image: url("images/wallbaby.jpg");
  background-size:cover;


  }
  .this-is-opening-line {
    color: white;
    font-size: 55px;
    font-weight: bold;
  }
  .banner {
      margin-top: 0%;
      padding: 115px 0 60px 0;
      
      
    }
    .banner .Banner-Container {
      width: 90vw;
      height: auto;
    }
    .banner .introduction-line {
      font-weight: 700;
      letter-spacing: 0.8px;
      padding: 8px 10px;
      opacity: 0.8;
      background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
      font-size: 26px;
      margin-bottom: 25px;
      display: inline-block;
      border-radius: 26px;
      width: 320px;
      height: 55px;
      color: black;
      cursor: pointer;
      }
  
      .banner .introduction-line:hover{
        opacity: 1;
        color: rgb(9, 6, 167);
        
      }
  
      .banner .introduction-line:active{
        opacity: 0.9;
        color: white;
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
      }
  
    .face_me {
      
      width: 50%;
      height: auto;
      border-radius: 25px;
      vertical-align: middle;
      border: 2px solid rgb(236, 156, 226);
    }
  
    @keyframes updown {
        0% {
            transform: translateY(-20px);
            text-align: center;
            justify-content: center;
        }
        50% {
            transform: translateY(20px);
            text-align: center;
            justify-content: center;
        }
        100% {
            transform: translateY(-20px);
            text-align: center;
            justify-content: center;
            
        }
    }
    .txt-rotate > .wrap {
      border-right: 0.08em solid #666;
    }
    
    /* AboutMe.css */
  
    .About {
      width: 100vw;
      scroll-margin-top: 1px;
      padding: 120px 0 2px 0;
       
    }
  
    .About-Me-Container {
      scroll-margin-top: 1em;

      background: rgba( 255, 255, 255, 0.3 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 17px );
      -webkit-backdrop-filter: blur( 17px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .about-me-title{
      font-weight: bold;
    }

    .about-me-para {
      font-size: 18px;
      text-align: center;
      justify-content: center;
      line-height: 25px;
    }
  
    /* Projects.css */
    .project{
      
      width: 100vw;
      max-height: min-content;
      /* padding-bottom: 50px; */
      justify-content: center;
      align-items: center;
      padding: 120px 0 10px 0;
      
  }
  
  .Project-Container{
      padding-top: 20px;
      background: rgba( 255, 255, 255, 0.3 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 17px );
      -webkit-backdrop-filter: blur( 17px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      padding-bottom: 10px;
  }
  
  .project-title{
    font-weight: bold;
    color: whitesmoke;
  }

  .Row1-Projects {
      padding-top: 20px;
      padding-bottom: 15px;
  }
  
  .db-link-title{
    color: rgb(151, 29, 29);
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
  }

  .db-link-title:hover{
    color:rgb(124, 41, 41) ;
  }

  .card1 {
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url("./images/DB.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  .db-link {
    text-decoration: none;
  }

  .card2 {
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url("./images/cherryNYC.png");
    background-color: white;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

  }

.cherry-link {
  text-decoration: none;
}
.project-description-paragraph {
  text-decoration: none;
  margin-top: 2px;
  color: black;
}

.db-para{
  text-align: center;
  color: rgb(107, 0, 0);
  justify-content: center;
}

.cherry-para{
  text-align: center;
  color: rgb(155, 2, 91);
  justify-content: center;
}

.polaroid-para {
  text-align: center;
  color: rgb(129, 0, 168);
  justify-content: center;
}

.info1 {
  position: relative;
  width: 100%;
  height: 315px;
  background-color: #fff;
  border: 1px solid rgb(150, 2, 49);
  transform: translateY(100%)
    translateY(-30px)
    translateZ(0);
  transition: transform 0.65s ease-out;
  
}

.info1:before {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("./images/DB.png");
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
  transition: transform 0.65s ease-out;
  
  
}

.cherry-title-link {
  text-decoration: none;
  
  color: rgba(226, 169, 219, 0.884);
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  
}

.cherry-title-link:hover {
  color: rgb(148, 21, 85);
 cursor: pointer;
}

.info2 {
  position: relative;
  width: 100%;
  height: 315px;
  background-color: #fff;
  
  border: 1px solid rgb(218, 175, 214);
  transform: translateY(100%)
  translateY(-30px)
    translateZ(0);
  transition: transform 0.65s ease-out;
  
}

.info2:before {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("./images/cherryNYC.png");
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
  transition: transform 0.65s ease-out;
  
}

.polaroid-link{
  text-decoration: none;
}

.card3 {
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url("./images/polaroid.png");
  background-color: white;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;

}


.info3 {
  position: relative;
  width: 100%;
  height: 315px;
  background-color: #fff;
  
  border: 1px solid rgb(198, 164, 230);
  transform: translateY(100%)
  translateY(-30px)
    translateZ(0);
  transition: transform 0.65s ease-out;
  
}

.info3:before {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("./images/polaroid.png");
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(-30px)
    translateZ(0);
  transition: transform 0.65s ease-out;
  
}

.polaroid-title-link{
  text-decoration: none;
  color: rgba(141, 23, 245, 0.904);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.polaroid-title-link:hover{
  color: rgb(120, 20, 202);
  font-weight: bold;
  cursor: pointer;
  
}


.card1:hover .info1,
.card1:hover .info1:before {
  transform: translateY(0) translateZ(0);
  border-radius: 30px;
  border: 2px solid rgb(139, 0, 46);

}

.card2:hover .info2,
.card2:hover .info2:before {
  transform: translateY(0) translateZ(0);
  border-radius: 30px;
  border: 2px solid rgb(134, 0, 123);
  
}

.card3:hover .info3,
.card3:hover .info3:before {
  transform: translateY(0) translateZ(0);
  border-radius: 30px;
  border: 2px solid rgb(85, 0, 155);
  
}
  
  /* Publication.css */
  
  .publication{
    width: 100vw;
    max-height: min-content;
    /* padding-bottom: 50px;
    padding-top: 40px; */
    padding: 120px 0 10px 0;
  }
  
  .publication-container {
    padding-top: 20px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 17px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 40px;
  }

  .armchair-title-heading{
    text-decoration: none;
    color: rgb(129, 0, 39);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .armchair-title-heading:hover{
    font-weight: bold;
    color: rgb(173, 2, 2);
  }

  .publication-title-class{
    font-weight: bold;
  }

  .publication-link {
    text-decoration: none;
  }
  .card4 {
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14),
      0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url("./images/Armchair.png");
    background-size:cover;
    background-position: center;
    width: 35%;
    height: auto;
    background-repeat: no-repeat;

  }
  
  .info4 {
    position: relative;
    width: 100%;
    height: 315px;
    background-color: #fff;
    
    border: 1px solid rgb(139, 58, 69);
    transform: translateY(100%)
    translateY(-30px)
      translateZ(0);
    transition: transform 0.65s ease-out;
    
  }
  
  .info4:before {
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("./images/polaroid.png");
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
      translateY(-30px)
      translateZ(0);
    transition: transform 0.65s ease-out;
    
  }
  
  .card4:hover .info4,
  .card4:hover .info4:before {
    transform: translateY(0) translateZ(0);
    border-radius: 20px;
    border: 2px solid rgb(107, 0, 5);

   }
   .publication-para{

    font-size: 18px;
      text-align: center;
      justify-content: center;
      line-height: 25px;
      color: rgb(109, 3, 3);
      
  }
    
  
  

  
  /* Footer */
  .footer{
  background-color: #ffe5ec;
  width: 100%;
  color: #023e8a;
  height: 50px;
  font-weight: bold;
  padding-top: 15px;
  
  }

  .footer-text {
    align-items: center;
    justify-content: center;
    font-size: medium;
  }
  